@import "tailwindcss";
@theme {
	--color-surface-default: oklch(96.302% 0.00995 165.474);
	--color-surface-muted: oklch(87.745% 0.01182 154.075);
	--color-surface-green: oklch(82.959% 0.13155 157.888);
	--color-brand-green: oklch(31.891% 0.06347 156.796);
	--color-brand-green-light: oklch(47.019% 0.07013 159.833);
	--color-brand-green-muted: oklch(91.401% 0.05191 161.874);

	--color-text-primary: oklch(0.1893 0.0335 155.37);
	--color-text-secondary: oklch(55.562% 0.0253 159.805);
	--color-text-tertiary: oklch(67.155% 0.02154 159.666);

	--color-background: var(--color-surface-default);
	--color-card: var(--color-surface-default);
	--color-popover: var(--color-surface-default);
	--color-secondary: var(--color-surface-default);
	
	--color-foreground: var(--color-text-primary);
	--color-card-foreground: var(--color-text-primary);
	--color-popover-foreground: var(--color-text-primary);
	--color-secondary-foreground: var(--color-text-primary);

	--color-muted-foreground: var(--color-text-secondary);
	
	--color-border: var(--color-text-tertiary);
	--color-ring: var(--color-text-secondary);
	
	--color-primary: var(--color-text-primary);
	--color-primary-foreground: var(--color-surface-default);
	
	--color-accent: var(--color-surface-muted);
	--color-accent-foreground: var(--color-text-primary);
	
	--color-destructive: hsl(0, 79%, 44%);
	--color-destructive-foreground: var(--color-surface-default);
}
/* 
* {
	@apply border border-blue-500
}
*/

html {
scroll-behavior: smooth;
/*
scrollbar-gutter: stable;
overflow-y: auto;
*/
}

body {
	@apply bg-surface-default text-text-primary;
}

